<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Karma</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        
        <style type='text/css'>
        	#text {
        	width: 700px;
        	height: 500px;
        	border: 1px solid;
        	overflow: scroll;
        	}
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav th:fragment="navbar" class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/public/index}">KARMA  <i class="bi bi-yin-yang m-auto"></i></a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
            <div class="row justify-content-center" th:each="character: ${characters}">
            	<div class="col-xl-6">
                        <div class="text-center text-white" >
                            <h1 class="mb-5" th:text="${character.name} + ' ' + ${character.surname}"></h1>
                         </div>
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class="col">
				<div th:each="character: ${characters}">	                   
	                            <table class="table table-dark">
								  <thead class="thead-dark">
								    <tr>
								      <th scope="col">Strength</th>
								      <th scope="col">Skill</th>
								      <th scope="col">Constitution</th>
								      <th scope="col">Intelligence</th>
								      <th scope="col">Wisdom</th>
								     
<!-- 								      <th scope="col">Karma</th>
								      <th scope="col">Class</th>
								      <th scope="col">Positive points</th>
								      <th scope="col">Negative points</th>
								      <th scope="col">Total points</th> -->
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row" th:text="${character.strength}"></th>
								      <td scope="row" th:text="${character.skill}"></td>
								      <td scope="row" th:text="${character.constitution}"></td>
								      <td scope="row" th:text="${character.intelligence}"></td>
								      <td scope="row" th:text="${character.wisdom}"></td>
<!-- 								      <td scope="row" th:text="${character.karma}"></td>
								      <td scope="row" th:text="${character.clase.name}"></td>
								      <td scope="row" th:text="${character.positive}"></td>
								      <td scope="row" th:text="${character.negative}"></td>
								      <td scope="row" th:text="${character.negative} + ${character.positive}"></td> -->
								    </tr>
								  </tbody>
								</table>
	                            
	                </div>
                </div>
                    </div>
                	
		<div class="col">
		<div class="text-center text-white">
		<div th:each="character: ${characters}">
		    <img class="img-fluid" th:src="@{'/assets/img/'+${character.image}}" alt="..." width="500" height="500" />
		</div>
		<br>
		</div>
		</div>
	
                </div>
                <br>
                <div class="row justify-content-center">
                
                
            </div>
        </header>     
        <!-- Footer-->
        <footer th:replace="base :: footer" class="footer bg-light">
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
