<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Karma</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        
        <style>
        .center-text {
		  text-align: center;
		  display:block;
		}
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav th:fragment="navbar" class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/public/index}">KARMA  <i class="bi bi-yin-yang m-auto"></i></a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Where everything started to build...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" th:style="'background: url(/assets/img/bigbang.jpg)'"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Before we begin to explain everything...</h2>
                        <p class="lead mb-0">we have to rewind many years back. Where humanity did not yet exist, trees have not appeared, where Earth was something quite different from what we know today, where time, space and matter did not exist. We rewind 13.8 billion years</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" th:style="'background: url(/assets/img/bigbang2.jpg)'"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>To start this story...</h2>
                        <p class="lead mb-0">To start this story, we will go back to the beginning of everything, or what today we know is the beginning of everything, the Big Bang,

But first of all, what is the Big Bang? The Big Bang, although its name is a bit confusing because of the “Bang”. It does not refer to an explosion, but to the expansion and creation of all the matter that was concentrated.

In that moment of expansion, space and time were also created. Being the two queens entities that rule the universe that we know today.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" th:style="'background: url(/assets/img/queens.jpg)'"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Every queen needs people to support her...</h2>
                        <p class="lead mb-0">At the same time as them, this town was born. Clusters of galaxies, solitary galaxies, solar systems, planets, fermion stars, bosons, neutrons, red, orange, blue, white, brown, black stars, dwarf stars, sub-dwarfs, sub-giants, giants, luminous giants, super giants , luminous supergiants, hypergiants that will break into black holes. All this spread throughout an infinite universe that is expanding little by little but faster and faster.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" th:style="'background: url(/assets/img/earth.jpg)'"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>In one place in the universe...</h2>
                        <p class="lead mb-0">a race was beginning to emerge. To better position ourselves in this infinite space, let's say its location. Laniakea Supercluster, Virgo Supercluster, Local Group, Milky Way, Orion Arm, Solar System, Earth. Along with them, new entities began to form. Knowledge, anger, joy, worry. All abstract things exist in the universe as entities that, with or without physical form, roam the infinite space of the universe.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" th:style="'background: url(/assets/img/human.jpg)'"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>25 million years from the present...</h2>
                        <p class="lead mb-0">the first proconsul is born, an instinctive race, led by the entity of hunger and that of survival. However, this breed began to present different changes over the years, significant changes to say that they were evolving.

10 million years later, the first Pliopithecus was born. 10 million years later, Australopithecus. 3 million years old, Homo habilis. Each time the evolution was greater in a shorter time, reaching one of the most important steps in it. 1 million years later, Homo erectus was born and with it, an entity was born, fire. These beings have discovered an element and have learned to master it. That was an inspiration for many entities. Neanderthal was the penultimate step, 1 million years ago Homo Sapiens came to stay.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" th:style="'background: url(/assets/img/judgment.jpg)'"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>However...</h2>
                        <p class="lead mb-0">an entity that was always active, was disturbed by the judgment of the Homo Sapiens. Since, with these, the Balance was born, disturbing the entity Chaos. Chaos is responsible for taking the universe through its natural course, allowing everything to flow. However, Balance tries to slow down that fluidity and lead things on its way.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" th:style="'background: url(/assets/img/caos.jpg)'"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>This story is born of the entity of balance...</h2>
                        <p class="lead mb-0">which, when being born and growing with humanity, gave a power to a single Sapiens. Little by little that power would spread through the DNA, creating a new species. However, several entities objected, the first being Chaos. He proposed various rules in exchange for accepting choice for nature.</p>
                    </div>
                </div>     
                
                 <br>
           </div>
           
        </section>
        
		<section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Chaos makes the rules</h2>
                        <a class="btn btn-primary" th:href="@{/public/classes}">Read one of them</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer th:replace="base :: footer" class="footer bg-light">
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
